
.art-form-container {
  width: 780px;
  min-height: 460px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border: 2px solid #3f9598
}

.art-form-header-bar {
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
}

.art-form-content {
  padding-bottom: 40px;
}

.art-form-category {
  height: 40px;
  width: 150px;
  background-color: #efefef;
  border: none;
  cursor: pointer;
  float: right;
  padding-left: 5px;
  font-size: 16px;
  color: #5f5f5f;
}

.art-form-image-container {
  display: inline-block;
  width: 300px;
  height: 300px;
  background: rgb(230, 230, 230);
  /* display: inline-block; */
  border-radius: 10px;
  float: left;
  margin-right: 30px;
}

.art-form-image-preview {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  background: rgb(230, 230, 230);
  /* display: inline-block; */
  border-radius: 10px;
  float: left;
  margin-right: 30px;
  margin-bottom: 10px;
}

.art-form-image-preview:hover{
  background: rgb(209, 209, 209);
  cursor: pointer;
}

.art-form-image-debug-icon {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 90px;
  background: inherit;
  overflow: hidden;
  border-radius: 50%;
}


.art-form-field-title {
  background: inherit;
  border: none;
  width: 430px;
  font-size: 36px;
  font-weight: 700;
  border-bottom: 1px solid rgba(142, 142, 142, 0.5);
  display: inline-block;
  margin-bottom: 40px;
  color: rgb(104, 104, 104);
}

.art-form-field-title::placeholder{
  color: #969696;
}



.art-form-field-title:focus {
  border-bottom: 3px solid rgba(0,132,255,.5);
  margin-bottom: 38px;
}

.art-form-field-user-icon {
  width: 44px;
  height: 44px;
  background: white;
  border-radius: 50%;
  float: left;
  position: relative;
}

/* debug unicode icon */
.art-form-field-user-icon-pic { 
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 40px;
  overflow: hidden;
  border-radius: 50%;
  background: inherit;
  cursor: default;
}

.art-form-field-user-icon-pic:hover {
  opacity: 0.7;
}

.art-form-field-name {
  display: inline-block;
  margin-bottom: 20px;
  height: 40px;
  width: 300px;

}

.art-form-field-user-icon-text {
  background: inherit;
  position: relative;
  color: #333;
  font-weight: 600;
  left: 20px;
  line-height: 2.5;
}

.art-form-field-description {
  display: inline-block;
  resize: none;
  width: 430px;
  overflow: hidden;
  padding-bottom: 5px;
  border: none;
  font-size: 18px;
  background: inherit;
  border-bottom: 1px solid rgba(142, 142, 142, 0.5);
  margin-bottom: 30px;
}

.art-form-field-description::placeholder{
  color: #b9b9b9;
}

.art-form-field-description[type=text]{
  color: #5f5f5f;
}


.art-form-field-description[contentEditable=true]:empty:not(:focus):before{
  content:attr(data-text)
}

.art-form-field-description:hover {
  cursor: text;
}

.art-form-field-description:focus {
  border-bottom: 3px solid rgba(0,132,255,.5);
  margin-bottom: 28px;
}

.art-form-field-link-container{
  width: 100%;
  margin-top: 70px;
  height: 40px;
  display: block;

}

.art-form-field-link-url {
  background: inherit;
  border: none;
  width: 285px;
  font-size: 36px;
  font-weight: 700;
  border-bottom: 1px solid rgba(142, 142, 142, 0.5);
  display: inline-block;
  margin-bottom: 20px;
  float: left;
  color: rgb(104, 104, 104);
}

.art-form-field-link-url::placeholder{
  color: #b9b9b9;
}

.art-form-field-link-url:focus {
  border-bottom: 3px solid rgba(0,132,255,.5);
  margin-bottom: 18px;
}

.art-form-field-submit {
  width: 140px;
  height: 40px;
  background: black;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 2px;
  margin-bottom: 20px;
  margin-top: 85px;
  float: right;
  position: relative;
  bottom: 10px;
}

.art-form-field-submit:hover {
  background: #3f9598;
  transition: 0.5s;
  cursor: pointer; 
}
