.art-index-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
		top: 76px;
		padding-bottom: 30px;
}

.art-header{
		margin-top: 30px;
		margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 900;
}

.art-index-ul{
		display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 20px;
    width: 300px;
		padding-bottom: 20px;
		margin: auto;
}

.art-index-li{
		/* border: 1px solid grey; */
    height: 300px;
}

.video-index-li{
		/* border: 1px solid grey; */
		position: relative;
		top: 0;
		left: 0;
    height: 200px;
}

.video-smoke-screen{
		display: block;
		height: 300px;
    height: 200px;
		background: black;
		opacity: 0.8;
		z-index: 200;
}

.art-photo-thumbnail{
		position: absolute;
		top: 0;
		left: 0;
    object-fit: cover;
    max-height: 100%;
    width: 100%;
		z-index: 100;
}

.art-photo-thumbnail:hover {

}

@media screen and (min-width: 1000px){

		.art-index-container{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: relative;
				top: 76px;
				padding-bottom: 30px;
		}

		.art-index-ul{
				display: flex;
				flex-wrap: wrap;
				min-width: 1000px;
				width: 90%;
				max-width: 1200px;
				padding-bottom: 20px;
		}

		.art-index-li{
				/* border: 1px solid grey; */
				/* background: rgb(230, 230, 230); */
				min-width: 300px;
				max-width: 300px;
				min-height: 230px;
				margin: 15px;
		}

		.video-index-li{
				/* border: 1px solid grey; */
				width: 300px;
				height: 200px;
				margin: 15px;
		}

		.video-modal{
				position: relative;
				top: 0;
				left: 0;
				background: grey;
				opacity: 0.8;
				z-index: 100;
		}

		.art-photo-thumbnail{
				object-fit: cover;
				max-height: 100%;
				width: 100%;
		}

		.art-video-thumbnail {
	
		}

		.see-more-button{
       display: none;
   }

} 
