.article-index-item-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 280px;
    margin: 0 auto;
    height: auto;
}

.article-index-item-thumbnail-container{
    display: flex;
    align-items: center;
    width: 276px;
    height: 172px;
    border: 1px solid rgba(0,0,0,.15);
    margin-bottom: 20px;
    overflow: hidden;
    box-sizing: border-box;
}

.article-index-item-thumbnail {
    width: 100%;
    height: auto;
}


/* .picture-placeholder{
    background: green;
    width: 276px;
    height: 172px;
    border: 1px solid rgba(0,0,0,.15);
    padding-bottom: 20px;
} */

.article-index-item-author{
    display: block;
    color: #717172;
    font-size: 18px;
    padding-bottom: 10px;
}

.article-index-item-title{
    display: block;
    color: black;
    font-size: 32px;
    font-weight: 800px;
    text-align: left;
    padding-bottom: 20px;
}

.article-index-item-header{
    display: block;
    color: gray;
    font-size: rgba(0, 0, 0, 0.54);
    padding-bottom: 10px;
}

.article-index-item-sub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}